.header {
  text-align: center;
}
.wrapper {
  box-shadow: 0 2px 14px 0 rgb(0 0 0 / 16%);
  margin-bottom: 10px;
}
.accordion {
  background: #fff;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active,
.accordion:hover {
  background-color: #fff;
}

.accordion:after {
  float: right;
  border-style: solid;
  border-width: 0 2px 2px 0;
  content: "";
  padding: 3px;
  transform: rotate(45deg);
  vertical-align: middle;
}

.active:after {
  transform: rotate(-135deg);
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
